* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
  background-color: #ffffff;
  color: #333;
  overflow-x: hidden;
}

/* home */
.hero {
  position: relative;
  background-color: transparent;
  width: 100%;
  margin: auto;
  padding: 35px 20px;
  overflow: hidden;
}
.blob-bg {
  position: absolute;
  top: -50px;
  left: -100px;
  width: 500px;
  height: 500px;
  background: #5fa9a8;
  border-radius: 20% 1000% 10% 20%;
  opacity: 0.12;
  z-index: 0;
}
.hero-container {
  width: 100%;
  margin: auto;
  display: flex;
  padding: 50px;
  background-color: transparent;
  animation: fadeIn 1s ease-in-out;
  flex-direction: column-reverse;
  align-items: center;
  gap: 60px;
  position: relative;
  z-index: 1;
}
.hero-text {
  flex: 1;
  text-align: center;
}
.hero-text h1 {
  font-size: 3rem;
  color: #468d8c;
  margin-bottom: 15px;
}
.hero-text h1 span {
  color: #5fa9a8;
}
.hero-text p {
  font-size: 1.2rem;
  line-height: 1.8;
  max-width: 600px;
  margin: auto;
  color: #468d8c;
  margin-bottom: 30px;
}
.hero-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 3px;
  flex-wrap: wrap;
}
.btn {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
  text-decoration: none;
}
.btn.primary {
  padding: 14px 24px;
  background-color: #5fa9a8;
  color: #fff;
}
.btn.primary:hover {
  text-decoration: 2px underline #ffffff;
}
.btn.outline {
  padding: 12px 24px;
  border: 2px solid #5fa9a8;
  color: #5fa9a8;
  transition: 0.3s ease;
  background: transparent;
}
.btn.outline:hover {
  background-color: #5fa9a8;
  color: white;
}
.hero-image .image-wrapper {
  position: relative;
  width: 100%;
  max-width: 280px;
  height: auto;
}
.hero-image img {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #5fa9a8;
  box-shadow: 3px 5px 24px #5fa9a8;
}
.svg-icons .icon {
  border: 0px solid black;
  box-shadow: 3px 2px 10px #5fa9a8;
}
.svg-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.svg-icons .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  animation: float 6s ease-in-out infinite;
  opacity: 0.8;
}
@media (max-width: 480px) {
  .svg-icons .icon {
    width: 30px;
    height: 30px;
  }
  .hero-buttons {
    justify-content: center;
    display: flex;
  }
}
@media (max-width: 768px) {
  .hero-buttons {
    justify-content: center;
    display: flex;
  }
}
.svg-icons .top-left {
  top: -15px;
  left: -15px;
}
.svg-icons .top-right {
  top: -15px;
  right: -15px;
}
.svg-icons .bottom-left {
  bottom: -15px;
  left: -15px;
}
.svg-icons .bottom-right {
  bottom: -15px;
  right: -15px;
}

.cta-section {
  text-align: center;
  padding: 80px 20px;
  background: #5fa9a8;
  color: #fff;
  opacity: 0.7;
}

.cta-section h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #fff;
}

.cta-section p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

.cta-section .btn.primary {
  padding: 12px 30px;
  background-color: #fff;
  color: #5fa9a8;
  font-weight: 600;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.3s ease;
}

.cta-section .btn.primary:hover {
  background-color: #5fa9a8;
  color: #fff;
  border: 4px solid #fff;
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero-text {
    text-align: left;
  }
  .hero-text p {
    margin-left: 0;
  }
}

/* about */
.container {
  width: 100%;
  margin: auto;
  height: min-content;
  padding: 25px 20px;
}
h2 {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 50px;
  color: #003b73;
}
.about-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  align-items: center;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  padding: 40px;
  animation: fadeIn 1s ease-in-out;
}
.about-text {
  flex: 1;
}
.about-text p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}
.about-text strong {
  color: #5fa9a8;
}
.about-img img {
  width: 100%;
  max-width: 280px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #5fa9a8;
  box-shadow: 3px 5px 24px #5fa9a8;
}
.skills {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}
.skills h3 {
  font-size: 40px;
  margin-bottom: 30px;
  color: #5fa9a8;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.skills-list span:hover {
  background-color: transparent;
  color: #5fa9a8;
  border: 2px solid #5fa9a8;
}
.skills-list span {
  background-color: #5fa9a8;
  color: #fff;
  padding: 12px 15px;
  border-radius: 50px;
  font-size: 0.95rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .about-wrapper {
    flex-direction: row;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* project */
.projects {
  background-color: transparent;
  padding: 0px 20px;
}
.projects h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  animation: fadeIn 1s ease-in-out;
  gap: 30px;
}
.project-card {
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
  animation: fadeIn 1s ease-in-out;
  flex-direction: column-reverse;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
.project-card img {
  width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}
.project-card h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.project-card p {
  font-size: 1rem;
  margin-bottom: 15px;
}
.project-card .btn {
  display: inline-block;
  background-color: #5fa9a8;
  transition: all 0.3s ease;
  color: white;
  text-decoration: underline #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.project-card:hover {
  transform: scale(1.1);
}
.view-project-btn:focus-visible + .project-card,
.view-project-btn:focus + .project-card {
  transform: scale(1.05);
}
.project-card .btn:hover {
  background-color: transparent;
  border: 2px solid #5fa9a8;
  color: #5fa9a8;
}
@media (min-width: 768px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* contact */
.contact h2 {
  text-align: center;
  font-size: 2rem;
  color: #5fa9a8;
  margin-bottom: 15px;
}
.contact-form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  animation: fadeIn 1s ease-in-out;
  flex-direction: column-reverse;
  flex-direction: column;
  gap: 15px;
}
.contact-form input,
.contact-form textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.contact-form .btn {
  background-color: #5fa9a8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: medium;
  padding: 15px 15px;
  cursor: pointer;
}
.contact-form .btn:hover {
  border: 2px solid #5fa9a8;
  border-radius: 5px;
  color: #5fa9a8;
  font-weight: 600;
  background-color: transparent;
  text-decoration: underline #5fa9a8;
}
.contact-info {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
}
.contact-info a {
  color: #5fa9a8;
  margin-top: 2px;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}
